<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/films">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ film?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<!--      <div *ngIf="post$ | async as post">
    <h1 [innerHTML]="post.id"> </h1>
    
   
    <div [innerHTML]="post.name"></div>
  </div>-->
    
<ion-card *ngIf="film">
    <ion-card-content>
      {{ film.name }}
    </ion-card-content>
  </ion-card>

</ion-content>
