<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
      <div (click)="loadPost(post)" padding-bottom *ngFor="let post of posts$ | async">
        <div>
          <h3 [innerHTML]="post.name"> </h3>
         
        </div>
        
        <div>
          <div [innerHTML]="post.id"></div>
        </div>
      </div>
  </div>
</ion-content>
